.company-ideal {
  display: flex;
}

.company-ideal .company-item {
  width: 270px;
  margin-right: 30px;
}

.company-ideal .company-item:last-child {
  margin-right: 0;
}

.company-item .section-icon {
  display: block;
  background-color: #f5f4fa;
  text-align: center;

  width: 270px;
  height: 120px;

  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-ideal .title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.company-ideal .text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}
