.portfolio-element {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio-img-text {
    transform: translateY(-100%);
  }
}

.portfolio-img {
  display: block;
}

.portfolio-card-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0;
  padding: 63px 24px;
  height: 100%;
  top: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-text {
  margin: 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -30px 0 0 -30px;
}

.portfolio-element {
  flex-basis: calc((100% - 90px) / 3);
  margin: 30px 0 0 30px;
}
